* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #004466;
  color: #00ffa2;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.8rem;
  font-weight: 400; 
  margin-left: 20px;
}

.app {
  width: 80vw;
  height: 80vh;
  margin: 10vw;
  display: flex;
  flex-direction: column;

}
.search-result {
  margin-top: 20px;
  overflow: auto;
}
.surprise {
  background-color: #004466;
  color: #000;
  border-radius: 999px;
  font-weight: 600;
  padding: 8px 18px;
  margin: 0 20px 2px 15px;
  color: #00ffa2;
  border: 1px solid #00ffa2;
}
.input-container {
  display: flex;
  width: 80%;
  margin-left: 20px;
  min-height: 2.5rem;
  /* border: solid 0.5px #cacaca; */
  box-sizing: border-box;
  border-radius: 999px;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px;
  overflow: hidden;
}
.input-container input {
  width: 90%;
  padding: 13px 14px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 200;
  color: #000;
}

.input-container input::placeholder {
  color: #666;
  font-weight: 200;
}
.input-container button {
  min-width: 10%;
  background-color: #00ffa2;
  border: none;
  border-left: 1px solid #cacaca;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.input-container button:hover {
  background-color: #f8de59;
}
.input-container button:active {
  background-color: #cacaca;
}
button:hover {
  background-color: #00ffa2;
  color: #000;
}
button:active {
  background-color: #cacaca;
}
.answer {
  padding: 13px 14px;
  /* border: solid 0.5px #cacaca;
  background-color: #fff; */
  margin: 5px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 6px;
  color: #ececf1;
  

}